vaadin-side-nav-item[selected] {
  background-color: #334155 !important;
}

vaadin-side-nav-item[selected] span,
vaadin-side-nav-item[selected] iron-icon {
  color: #ffffff !important;
}

vaadin-side-nav-item iron-icon {
  color: #94A3B8;
}

vaadin-side-nav-item span {
  color: #CBD5E1;
}